<div class="page-container">
    <section class="additional space aligned-left">
        <h2 class="min-space">Soft Skills</h2>
        <p class="space">Teamwork, problem solving, critical thinking, Good Communication.</p>
        <h2 class="min-space">Interests</h2>
        <p>Photography and Videography, Creative writing, Learning foreign languages.</p>  
    </section>

    <section class="achievement space aligned-left">
        <h2 class="min-space">Selected Achievement</h2>
        <a href="nibbble.blog"><h4 class="link">nibbble.blog</h4></a>
        <p>
            My passion for technology led me to start creating content where I leveraged my knowledge and expertise to create a technology-focused blog to share my passion for breaking down complex tech concepts into easily understandable pieces for readers, now resulting in over 100 page views from individuals worldwide.
        </p>
    </section>
</div>