<div class="page-container">
    <section id="education" class="education space aligned-left">
        <h2 class="min-space">Education & Professional development</h2>
        <h4>HND Computer Science </h4>
        <p class="min-space">Yaba College of Technology, 2019-2021</p>
        <h4>OND Computer Science</h4>
        <p class="min-space">The Polytechnic Ile Ife, 2017-2018</p>
        
        <a target="_blank" class="link"href="https://drive.google.com/file/d/1zdElYoyzdGk7Ucv1gde_4Dk6V7qGAX-h/view"><h4>Programming with Javascript</h4></a>
        <p class="min-space">Coursera.org, Nov 2022.</p>
        
        <a target="_blank" class="link"href="https://drive.google.com/file/d/1L0wmi3s7L7MpZ8L61-p1-FkqPQR9H7ye/view"><h4>Version Control, Meta </h4></a>
        <p class="min-space">Coursera.org, Nov 2022.</p>
        
        <a target="_blank" class="link" href="https://drive.google.com/file/d/1z6sCckn4Q1xZh9WRfMgu_z1jua0iEAfL/view"><h4>HTML and CSS in depth </h4></a>
        <p class="min-space">Coursera.org, Aug 2022.</p>
        
        <a target="_blank" class="link" href="https://drive.google.com/file/d/1_AoOl1gObV-3ykTTlL0W9wfK1fzeSUhc/view"><h4>React Basics, Meta </h4></a>
        <p>Coursera.org, Dec 2022.</p>
    </section>
</div>
