<div class="page-container">
    <section id="experience" class="experience space aligned-left">
        <h2 class="min-space">Work Experience</h2>
        <h3 class="min-space">Dispatch officer, BSSM NG <span class="year">2021-2022</span></h3> 
        <ul>
            <li class="min-space">my major role was to process and verify orders, ensuring that they were fulfilled accurately and on time. Using Excel, I tracked and analyzed data related to orders, shipments, and deliveries, developing and maintaining spreadsheets to manage data and using advanced functions like VLOOKUP and Pivot Tables to analyze and summarize data.</li>
            <li class="min-space">I was able to improve the efficiency and accuracy of order processing and tracking, while also developing new reporting methods using Google Sheets or Excel that provided real-time insights into order fulfillment and delivery status.</li>
            <li class="min-space">Collaborated with other teams using inventory management software like Zoho as well as project management software like ClickUp to ensure timely and efficient order fulfillment.</li>
        </ul>
    </section>
</div>
